<footer>
  <div class="container">
    <div class="row p-5 text-center-m">
      <div class="col-md-3 col-12">
        <h2 class="fw-bold text-white">Shortly</h2>
      </div>
      <div class="col-md-2 col-12">
        <h6 class="fw-bold text-white">Features</h6>
        <ul class="navbar-nav text-white-50">
          <li class="nav-item">
            <a class="nav-link" href="#"> Link Shortening </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Branded Links </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Analytics </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-12">
        <h6 class="fw-bold text-white">Resources</h6>
        <ul class="navbar-nav text-white-50">
          <li class="nav-item">
            <a class="nav-link" href="#"> Blog </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Developers </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Support </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-12">
        <h6 class="fw-bold text-white">Company</h6>
        <ul class="navbar-nav text-white-50">
          <li class="nav-item">
            <a class="nav-link" href="#"> About </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Our Team </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Careers </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"> Contact </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-12">
        <span class="px-2">
          <img src="assets/images/icon-facebook.svg" alt="">
        </span>
        <span class="px-2">
          <img src="assets/images/icon-twitter.svg" alt="">
        </span>
        <span class="px-2">
          <img src="assets/images/icon-pinterest.svg" alt="">
        </span>
        <span class="px-2">
          <img src="assets/images/icon-instagram.svg" alt="">
        </span>
      </div>
    </div>
  </div>
</footer>
