<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.svg">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse p-5 rounded-3" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white-m fw-bold" href="/">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white-m fw-bold" href="/">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white-m fw-bold" href="/">Resources</a>
        </li>
      </ul>
      <hr class="hide-des show-m">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-4">
          <a class="nav-link text-white-m fw-bold" href="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn text-white rounded-5 bg-cyan col-12 fw-bold" href="/">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
