<div class="intro-text">
  <div class="container">
    <div class="hide-des show-m">
      <img src="assets/images/illustration-working.svg" class="img" alt="work illustration">
    </div>
    <div class="intro">
      <h1 class="intro-heading"> More than just shorter links </h1>
      <p>
        Build your brand's recognition and get detained insights on how your links are performing
      </p>
      <div>
        <button class="btn rounded-5 text-white bg-cyan">
          Get Started
        </button>
      </div>
    </div>
  </div>
</div>
