<div class="mt-5">
  <div class="container pt-5">
    <div class="text-center">
      <h2 class="fw-bold feat-intro"> Advanced Statistics </h2>
      <p class="text-muted"> Track how your links are performing across the web <br/> with our advanced statistics dashboard </p>
    </div>
  </div>
  <div class="container px-4 pb-5 pt-3">
    <div class="d-flex flex-column flex-md-row">
      <div class="card card-1">
      <span class="card-icon">
        <img src="assets/images/icon-brand-recognition.svg" class="card-img"
             alt="illustration_icon" >
      </span>
        <div>
          <div class="card-body pt-5 p-4">
            <h5 class="fw-bold">Brand Recognition</h5>
            <p class="">
              Boost your brand recognition with
              each click. Generic links don't mean a
              thing. Branded links help instill confidence in your contact.
            </p>
          </div>
        </div>
      </div>
      <div class="rectangle">
      </div>
      <div class="card card-2">
      <span class="card-icon">
        <img src="assets/images/icon-detailed-records.svg" class="card-img"
             alt="illustration_icon">
      </span>
        <div>
          <div class="card-body pt-5 p-4">
            <h5 class="fw-bold">Detailed Records</h5>
            <p class="">
              Gain insights into who is clicking your links. Knowing when and were people engage with your content helps inform better decisions.
            </p>
          </div>
        </div>
      </div>
      <div class="rectangle"></div>
      <div class="card card-3">
      <span class="card-icon">
        <img src="assets/images/icon-fully-customizable.svg" class="card-img"
             alt="illustration_icon">
      </span>
        <div>
          <div class="card-body pt-5 p-4">
            <h5 class="fw-bold">Fully Customizable</h5>
            <p class="">
              Improve brand awareness and content discoverability through customizable links,
              supercharging audience engagement.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
