








<div class="container">
  <div class="rounded mt-5 bg-card form-container">
    <div>
      <div class="card-body p-4 text-center">
        <form action="#">
          <div class="row">
            <div class="col-12 col-md-10">
              <input type="text" class="form-control"/>
            </div>+

            <div class="col-md-2 col-12 mt-2 mt-md-0">
              <input type="submit" class="btn bg-cyan text-white col-12" value="Shorten it!"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="m-3">
    <div class="row bg-white rounded py-3">
      <div class="col-12 col-md-6 px-5">
        hfadfadfafdafasdfasdf
      </div>
      <div class="col-12 col-md-4 px-5 text-right text-cyan">
        hfadfadfafdafasdfasdf
      </div>
      <div class="col-12 col-md-2">
        <button class="bg-cyan text-white btn px-5"> Copy </button>
      </div>
    </div>
  </div>
  <div class="m-3">
    <div class="row bg-white rounded py-3">
      <div class="col-12 col-md-6 px-5">
        hfadfadfafdafasdfasdf
      </div>
      <div class="col-12 col-md-4 px-5 text-right text-cyan">
        hfadfadfafdafasdfasdf
      </div>
      <div class="col-12 col-md-2">
        <button class="bg-cyan text-white btn px-5"> Copy </button>
      </div>
    </div>
  </div>
</div>

+
+
+
+









+
