.bg-card {
  background-image: url("src/assets/images/bg-shorten-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  z-index: 15;
}

.text-right-desk{
  text-align: right;
}

.container {
  position: relative;
  margin-top: 10rem;
}

.form-container{
  position: absolute;
  top: -4rem;
  right: 0;
  left: 0;
}
@media screen and (max-width: 375px) {
  .container {
    position: relative;
    margin-top: 2rem;
  }

  .original-link{
    width: 200px;
    font-size: 14px;
  }

  .form-container{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
  }

  .bg-card {
    background-image: url("src/assets/images/bg-shorten-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
  }

  .text-right-desk{
    text-align: left;
  }
}
