/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

* {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
}

.bg-cyan {
  background-color: hsl(180, 66%, 49%) !important;
}

.text-cyan {
  color: hsl(180, 66%, 49%) !important;
}

.text-right {
  text-align: right;
}

.bg-gray {
  background-color: hsl(0, 0%, 75%) !important;
}

.text-left {
  text-align: left;
}

.bg-violet {
  background-color: hsl(257, 27%, 26%) !important;
}

.hide-des {
  display: none;
  visibility: hidden;
}

p {
  font-size: 18px;
}

@media screen and (max-width: 375px) {
  .text-white-m{
    color: white !important;
  }
  .hide-m {
    display: none;
    visibility: hidden;
  }

  .show-m {
    display: block;
    visibility: visible;
  }

  .text-center-m {
    text-align: center;
  }
}
